$blue: rgb(30, 172, 214);
$white: #ffffff;

.icon-close {
	border: none;
	cursor: pointer;
}
.icon-pencil {
	border: none;
	cursor: pointer;
	padding: 1px 6px;
}

.delete-task {
	display: inline-flex;
	padding: 20px;
	margin-bottom: 10px;
	background-color: $blue;
	color: $white;
	border: none;

	span {
		font-size: 18px;
		display: block;
	}

	svg {
		margin-left: 10px;
		cursor: pointer;
	}
}
.buttonText {
	display: flex;
	align-items: center;
}
