$blue: rgb(30, 172, 214);
$white: #ffffff;

.task-title {
	width: 100%;
	padding: 20px;
	text-align: center;
	margin: 0 4px 5px 0;
	border: 2px solid rgb(227, 248, 131);
	color: rgb(14, 44, 216);
	font-size: 24px;
	font-style: italic;

	::placeholder {
		color: green;
		font-size: 18px;
	}
}

.add-task-box {
	display: flex;
	justify-content: space-between;
}
.add-task {
	min-width: 72px;
	height: 72px;
	background-color: $blue;
	color: $white;
	border: none;
	font-size: 30px;
	cursor: pointer;
}
