$blue: rgb(30, 172, 214);
$white: #ffffff;

.actions {
	display: flex;
	flex-direction: row;
}

.check-box {
	width: 90%;
}

.check {
	display: inline-block;
	width: 20px;
	height: 20px;
}
.task_ready {
	text-decoration: line-through;
}

label {
	span {
		padding-left: 20px;
	}
}
.task {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color: $blue;
	border-top: 1px solid rgb(194, 193, 193);
	border-bottom: 1px solid rgb(194, 193, 193);
	align-items: center;
	font-size: 24px;
	line-height: 20px;
}
.taskTitle {
	width: 100%;
	border: none;
	color: rgb(14, 44, 216);
	margin-left: 10px;
	font-size: 24px;
	font-style: italic;
	outline: none;
	&::placeholder {
		color: rgb(14, 44, 216);
		font-size: 24px;
		font-style: italic;
	}
}

.taskTitleCross {
	width: 100%;
	border: none;
	color: rgb(14, 44, 216);
	margin-left: 10px;
	font-size: 24px;
	font-style: italic;
	text-decoration: line-through;
	outline: none;
}
.task__change {
	width: 90%;
	border: none;
	color: rgb(14, 44, 216);
	margin-left: 10px;
	font-size: 24px;
	font-style: italic;
	outline: 1px solid rgba(98, 101, 104, 0.3);
	&::placeholder {
		color: rgb(98, 101, 104);
		font-size: 24px;
		font-style: italic;
	}
}
