$blue: rgb(30, 172, 214);
$white: #ffffff;

.progress {
	position: relative;
	width: 300px;
	border: 1px solid grey;
}
.bar {
	width: 50%;
	height: 30px;
	line-height: 30px;
	background-color: rgb(253, 253, 88);
	span {
		position: absolute;
		left: 33%;
	}
}
